          {% if site.footer-links.rss %}<a href="{{ site.baseurl }}/feed.xml"><img src="/images/social/RSS.png"/></a>{% endif %}
          {% if site.footer-links.twitter %}<a href="https://twitter.com/{{ site.footer-links.twitter }}"><img src="/images/social/Twitter.png"/></a>{% endif %}
          {% if site.footer-links.github %}<a href="https://github.com/{{ site.footer-links.github }}"><img src="/images/social/GitHub.png"/></a>{% endif %}
          {% if site.footer-links.flickr %}<a href="https://flickr.com/{{ site.footer-links.flickr }}"><img src="/images/social/Flickr.png"/></a>{% endif %}
